<div class="panel lane">
    <div class="panel-heading">
        <h3 class="panel-title text-center">{{ lane.title }}</h3>
    </div>
    <div class="panel-body"
        dnd-list="lane.tasks"
        dnd-drop="lane.drop(item)">
        <div ng-repeat="t in lane.tasks"
             dnd-draggable="t"
             dnd-effect-allowed="move"
             dnd-moved="lane.tasks.splice($index, 1)"
             dnd-dragstart="lane.dragStart($index,t)"
             dnd-canceled="lane.canceled(t)">
            <task-panel task-id="t.id" lane-id="lane.id" on-remove="lane.onTaskRemove()"></task-panel>
        </div>
    </div>
    <div class="panel-footer clearfix">
      <button type="button" class="btn btn-default btn-sm pull-right" ng-click="lane.remove()">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn btn-default btn-sm" ng-click="lane.openNewTask()">
          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn btn-default btn-sm" ng-click="lane.openEditLane()">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      </button>
    </div>
</div>
