<div class="modal-header">
    <h4 class="modal-title">{{ security.projectTitle }}</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group m-b-0">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <input type="password" id="password" class="form-control" placeholder="Password" ng-model="security.password">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="security.close()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="security.submit()">Submit</button>
</div>
