<div class="panel task m-b-md {{ task.completed ? 'completed' : '' }}">
    <div class="panel-heading">
        <button type=" button" class="close pull-right" aria-label="Close">
            <span aria-hidden="true" ng-click="task.remove()">&times;</span>
        </button>
        <h3 class="panel-title">{{ task.title }}</h3>
    </div>
    <div class="panel-body" ng-click="task.openEditTask()">
        <p>{{ task.description }}</p>
        <span class="label pull-right label-primary">{{ task.assignee }}</span>
    </div>
</div>
