<main class="container m-t-md">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <input type="text" ng-model="projects.project.title" class="form-control" placeholder="Search or create a project">
                    <span class="input-group-btn">
                        <button ng-click="projects.create()" class="btn btn-default" type="button">Create</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row m-t-md">
            <div class="col-md-12">
                <div ng-repeat="p in projects.projects | filter : { title : projects.project.title }">
                  <project-panel project-id="p.id" on-remove="projects.onProjectRemove()"></project-panel>
                </div>
            </div>
        </div>
    </div>
</main>
