<div class="panel panel-default m-b-md project">
  <div class="panel-body">
      <span class="title">{{ project.title }}</span>
      <a href="javascript:void(0);" class="pull-right link" ng-click="project.redirect()">
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
      </a>
      <a href="javascript:void(0);" class="pull-right m-r-md delete" ng-click="project.remove()">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </a>
  </div>
</div>
